.header{
   text-align: center;
   background-color:#004643;
   height: 250px;
   margin-bottom: 20px;
   justify-content: center;
   position: relative;


}
.header-text{
    color:white;
    position: absolute;
    margin-top: 60px;
    margin-left: 500px;
 
 
  
     
}